#Visual Studio
#
####UserFiles
.suo

####Build Folders
bin/
obj/

####Web.Config files
Web.Debug.Config
Web.Release.Config

#DevExpress License File
##licenses.licx != work;
##Run the following command instead
##git update-index --assume-unchanged <file>
##to undo
##git update-index --no-assume-unchanged <file>